# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.local

# Uploads
static/uploads/

# Flask session
flask_session/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/